* {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype",
     "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	/* alt font for post sub, reviewer pls ignore
	font-family: 'Muli', sans-serif;
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    */
	font-size: 19px;
	color: black;
    /*grid border for dev*/
	/*border:2px dotted red;*/
	text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    padding: 5px;
    height: 95%;
    length: 80%;
}

#park-name-text{
    margin: 10px;
}

.park-info-open {
    transform: translate(6px,0px);
    text-align: left;
    height: 250px;
    width: 350px;
    padding: 5px;
    position: relative;
    margin: 5px;
    transition: 1.7s;
}

nav,
section {
	width: 250px;
	height: 100%;
	position: absolute;
	transform: translate(-260px,0px);
	transition: transform 0.6s;
    border: 6px black;
}
