* {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype",
     "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	/* alt font for post sub, reviewer pls ignore
	font-family: 'Muli', sans-serif;
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    */
	font-size: 19px;
	color: black;
    /*grid border for dev*/
	/*border:1px dotted red;*/
	text-align: center;
    align-content: center;
    align-self: center;
    margin: auto;
}

html,
body {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@media screen and (max-width: 715px) {
    * {
        font-size: 14px;

    }
    p {
        max-width: 65%;
    }
}

#map {
    width: 99%;
    max-width: 99%;
    height: 75%;
    max-height: 75%;
}

.park-info-open {
    transform: translate(1px,0px);
    text-align: left;
    height: 150px;
    width: 250px;
    padding: 5px;
    position: relative;
    transition: 1.3s;
}

select {
    max-width: 95%;
}

nav,
section {
	width: 250px;
	height: 100%;
	position: absolute;
	transform: translate(-460px,0px);
	transition: transform 0.4s;
    border: 6px black;
}
